services:
  - type: web
    name: recon-backend
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: /bin/bash ./start.sh
    autoDeploy: true
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASS
        sync: false
      - key: DB_NAME
        sync: false
